.custom-select {
    appearance: none; /* Oculta la apariencia predeterminada del select */
    padding: 8px 16px; /* Ajusta el espacio interno del select */
    font-size: 14px; /* Ajusta el tamaño de fuente */
    border: 1px solid #ccc; /* Agrega un borde alrededor del select */
    border-radius: 4px; /* Agrega esquinas redondeadas al select */
    background-color: #fff; /* Establece el color de fondo del select */
    color: #333; /* Establece el color del texto */
    width: 100%; /* Ajusta el ancho del select */
    box-sizing: border-box; /* Incluye el tamaño del borde en el ancho total */
  }
  
  .custom-select:focus {
    outline: none; /* Quita el contorno al recibir el foco */
    border-color: #007bff; /* Cambia el color del borde al recibir el foco */
  }
  
  .custom-select option {
    /* Estilos para las opciones del select */
    padding: 8px 16px;
    font-size: 14px;
  }

  .form-item {
    display: flex;
    align-items: center;
    flex: 1; /* Permite que el input se expanda y ocupe el espacio disponible */
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    max-width: 600px; /* Establece un ancho máximo opcional para evitar que se vuelva demasiado ancho en pantallas grandes */
}

.form-label {
  margin-right: 30px;
  font-weight: bold;
  text-align: right;
  width: 25%; /* Ajusta el ancho según tus necesidades */
}

.form-input{

    flex: 1; /* Permite que el input se expanda y ocupe el espacio disponible */
    width: 100%; /* Asegura que el input ocupe todo el ancho disponible */
    max-width: 500px; /* Establece un ancho máximo opcional para evitar que se vuelva demasiado ancho en pantallas grandes */
    height: 40px;
}

@media (max-width: 768px) {
    .form-item  {
      width: 300px; /* Ajusta el ancho del label para pantallas más pequeñas */
      display: table-column;
    }
  }