.container-table{
    width: 100vw;
    height: 90vh; 
    margin-top: 5%;
}

.dataTable{
    padding: 20px;
    
}

.div-colum-address{
    display: flex;
}

.btn-copy{
    margin-left: 5px;
}

.link-ether{
    
}