.div-signup {
  width: 100vw;
  height: 90vh;


}
  
.div-signup-h6-div{
  width: 100vw;
  margin-top: 10%;
;
}

.div-signup-wallet-div{
  display: flex;
  justify-content: center;
  align-items: center;

}

.signup-h6 {
  text-align: center;
}