.cuentas-submenu {
    width: 10rem;
    position: absolute;
    top: 62px;
    list-style: none;
    text-align: start;
    z-index: 1;
  }
  
  .cuentas-submenu li {
    background: rgb(10, 8, 124);
    cursor: pointer;
    
  }
  
  .cuentas-submenu li a:hover {
    background: rgb(3, 21, 59);
    width: 100%;
  }
  
  .cuentas-submenu.clicked {
    display: none;
  }
  
  .cuentas-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }

  @media screen and (max-width:1000px) {

    .cuentas-submenu {
      position: absolute;
      z-index: 1;
      top: 56px;
      left: 120px;
    }
  }