.movimientos-submenu {
    width: 10rem;
    position: absolute;
    top: 62px;
    list-style: none;
    text-align: start;
    z-index: 1;
  }
  
  .movimientos-submenu li {
    background: rgb(10, 8, 124);
    cursor: pointer;

  }
  
  .movimientos-submenu li a:hover {
    background:  rgb(3, 21, 59);
    width: 100%;
  }
  
  .movimientos-submenu li a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    /* margin-right: 2rem; */
    padding: 6px 16px;
    border-radius: 5px;
  }
  .movimientos-submenu.clicked {
    display: none;
  }
  
  .movimientos-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }

  @media screen and (max-width:1000px) {

    .movimientos-submenu {
      position: absolute;
      z-index: 1;
      top: 165px;
      left: 120px;
     }
  }