 .Cabecera {
      background: linear-gradient(to bottom, #0066cc, #00008b);
      width: 100%;
      padding: 1em; 

      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;

      color: white;
  } 
  
  .navbar{
    margin-right: 10%;
  }

  .navbar-logo {
    color: white;
    text-decoration: none;
    height: 10px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    filter: brightness(1); /* Valor inicial de brillo */
    transition: filter 0.3s; /* Transición suave para el efecto */
  }

  .navbar-logo:hover {
    filter: brightness(1.2); /* Valor de brillo al pasar el mouse */
  }

  .navbar-src-logo{
    margin-top: 20%;
  }
  
  .nav-wallet{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  }


  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    /* width: 70vw; */
    justify-content: flex-end;
    /* margin-right: 2rem; */
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
  }

  .nav-item-wallet{
    align-self: center;
  }
  
  .nav-item a:hover {
    background:  rgb(3, 21, 59);
  }

  .navbar-button{
    display: none;
    cursor: pointer;
    background-color: rgb(2, 1, 1);
  }
  .navbar-svg{
    width: 2em;
    height: 2em;
  }
  

  @media screen and (max-width:1000px) {
   
    .navbar-button{
      display: block;
    }
    
    .navbar{
      width: 100%;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 0vh;
      opacity: 0;
      overflow: hidden;
      transition: all .5s ease;
    }
  
    .navbar.isActive{
      display: flex;
      height: 50vh;
      opacity: 1;
    }
  
    .nav-items {
      flex-direction: column;
      width: 90%;
    }
    

  }