.contabilidad-general {
    padding: 20px;
    background-color: #f9f9f9;  /* Color de fondo claro */
}

.contabilidad-general-title {
    font-size: 28px;  /* Tamaño grande de fuente para el título */
    color: #333;  /* Color oscuro para el texto */
    margin-bottom: 20px;  /* Espacio debajo del título */
}

.contabilidad-general-table {
    width: 50%;
    height: 100%;

}